<ul class="nav nav-tabs">
    <li class="active"><a data-target="#consumer-groups" data-toggle="tab">Consumer Groups</a></li>
    <li><a data-target="#topic-feed" data-toggle="tab">Topic Feed</a></li>
    <li><a data-target="#topic-consumption" data-toggle="tab">Topic Consumption</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="consumer-groups">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Consumer Group</th>
                        <th colspan="3">Partition Offsets</th>
                    </tr>
                    <tr>
                        <th colspan="1"></th>
                        <th data-ng-repeat="partitionNo in maxPartitionCount track by $index">{{$index}}</th>
                    </tr>
                    <tr>
                        <th colspan="1">Start</th>
                        <th data-ng-repeat="offset in startingOffsets.offsets | orderObjectBy:'partition'">{{offset.offset}}</th>
                    </tr>
                    <tr>
                        <th colspan="1">End</th>
                        <th data-ng-repeat="offset in endingOffsets.offsets | orderObjectBy:'partition'">{{offset.offset}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="consumerGroup in topic">
                        <td>{{consumerGroup.consumerGroup}}</td>
                        <td data-ng-repeat="offset in consumerGroup.offsets | orderObjectBy:'partition'">
                            {{offset.offset}}
                            <span data-ng-class="{red: (topicOffsets[offset.partition]-offset.offset) > 500}">({{topicOffsets[offset.partition] - offset.offset}})</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="topic-feed">
        <div id="messages"></div>
    </div>
    <div class="tab-pane" id="topic-consumption">
        <div id="graph"></div>
        <div id="graph-controls">
            <div>
                <label for="range">Time range:</label>
                <input type="text" id="range" size="31" readonly="true" style="border:0; color:#428bca; font-weight:bold;">
            </div>
            <div id="slider-range" style="width:800px"></div>

            <div>
                <label for="factor">Aggregation:</label>
                <input type="text" id="factor" size="10" readonly="true" style="border:0; color:#428bca; font-weight:bold;">
            </div>
            <div id="slider-factor" style="width:400px"></div>
        </div>
    </div>
</div>